.about-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-image {
    height: 10rem;
}

.about-subtitle {
    text-align: center;
    padding: 0 7rem;
}

.about-content {
    display: flex;
    flex-direction: column;
}

.about-knowledge {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-knowledge-row {
    display: flex;
    flex-direction: row;
}