.navbar {
    border-bottom: 1.5px solid #E5E8EB;
    vertical-align: middle;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 1rem 4rem;
}

.navbar-logo {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 1.5rem;
}

.navbar-title {
    font-size: 1.5rem;
    font-weight: 600;
    color: #fff;
    padding-top: 4px;
}

.navbar-links {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
}

.navbar-links a {
    color: #d8d8d8;
    font-size: 1.2rem;
    height: fit-content;
}